<button is="party-button">

</button>
<div is="customer-info" >
  {% if customer -%}
    <div>
      Hi {{ customer.name }}!
    </div>
    <form class="visually-hidden" id="lv-customer-info">
      <input type="text" name="email" value="{{ customer.email }}">
      <input type="text" name="accepts_marketing" value="{{ customer.accepts_marketing }}">
      <input type="text" name="first_name" value="{{ customer.first_name }}">
      <input type="text" name="has_account" value="{{ customer.has_account }}">
      <input type="text" name="id" value="{{ customer.id }}">
      <input type="text" name="name" value="{{ customer.name }}">
      <input type="text" name="tags" value="{{ customer.tags }}">
      <input type="text" name="tags" value="{{ customer.tags }}">
      <input type="text" name="discount_amount" value="{{ discount_allocation.amount }}">
      <input type="text" name="discount_application" value="{{ discount_allocation.discount_application }}">

    </form>
  {%- endif %}
</div>

<style>
  .visually-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal!important;
  }

  div[is="customer-info"] {
    position: fixed;
    bottom: 100px;
    right: 15px;
    background: #b1d9ff99;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
  }

  button[is="party-button"] {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    background: url("https://ui-avatars.com/api/?name={{ customer.name }}") no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid hsl(0, 100%, 50%);
    animation: rainbow 10s infinite alternate;
    -webkit-animation: rainbow 10s infinite alternate;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    z-index: 100;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  button[is="party-button"]:hover {
    transform: scale(1.10);
  }

  button[is="party-button"]:active {
    transform: scale(0.95);
  }

  canvas:empty {
    display: initial;
  }
</style>

{% schema %}
{
  "name": "Party",
  "target": "body",
  "stylesheet": "image-gallery.css",
  "javascript": "party-button.js",
  "settings": []
}
{% endschema %}