
{% if customer -%}
  <form class="visually-hidden" id="lv-customer-info">
    <input type="text" name="accepts_marketing" value="{{ customer.accepts_marketing | json }}">
    <input type="text" name="email" value="{{ customer.email }}">
    <input type="text" name="accepts_marketing" value="{{ customer.accepts_marketing }}">
    <input type="text" name="first_name" value="{{ customer.first_name }}">
    <input type="text" name="has_account" value="{{ customer.has_account }}">
    <input type="text" name="id" value="{{ customer.id }}">
    <input type="text" name="name" value="{{ customer.name }}">
    <input type="text" name="tags" value="{{ customer.tags }}">
    <input type="text" name="tags" value="{{ customer.tags }}">
    <input type="text" name="discount_amount" value="{{ discount_allocation.amount }}">
    <input type="text" name="discount_application" value="{{ discount_allocation.discount_application }}">
  </form>
  
  
{%- endif %}
<div id="lv-settings"  class="visually-hidden">{{ block.settings | json }}</div>
<div id="lv-root"></div>


<style>
  .visually-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal!important;
  } 
</style>

<!--
"stylesheet": "main.css",
  "javascript": "main.js",
-->
{% comment %} <s    cript defer src="http://localhost:3000/static/js/bundle.js"></script> {% endcomment %}

{% schema %}
{
  "name": "Loyalty",
  "target": "body",
  "stylesheet": "main.css",
  "javascript": "main.js",
  "settings": [{
    "type": "checkbox",
    "id": "show_button_component",
    "label": "Show button component",
    "default": true
  }
  ]
}
{% endschema %}